<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>КИПР | Лента</title>

        <link rel="icon" type="image/png" href="./_img/favicon.png?v=1.0">


        <link rel="stylesheet" href="./_vendor/normalize.css?v=1.0">
        <link rel="stylesheet" href="./_vendor/montserrat_font.css?v=1.0">
        <link rel="stylesheet" href="./_vendor/element-theme.css?v=1.0">
        <link rel="stylesheet" href="./_vendor/kipr_icons_font.css?v=1.0">

        <link rel="stylesheet" href="./_css/style.css?v=1.0">


        <script src="./_vendor/vue@2.5.16.js"></script>
        <script src="./_vendor/element-ui@2.4.5.js"></script>
        <script src="./_vendor/axios@0.18.0.min.js"></script>
        <script src="./_vendor/element-language-ru.js"></script>
    </head>

    <body>
        <div id="app">
            <el-container class="page">

                <!-- $MENU -->
                <transition name="el-fade-in-linear">
                    <menu-component
                        v-show="menuIsOpen"
                        @menu-close="closeMenu"
                        inline-template v-cloak>
                        <el-aside class="menu" width="320px">
                            <div class="menu-header">
                                <el-button
                                    class="menu-header--button hidden-sm-and-up menu-close"
                                    icon="icon-error"
                                    @click="closeMenu">
                                </el-button>
                                <a href="/" class="menu-title">КИПР</a>
                            </div>
                            <nav class="menu-body">
                                <div
                                    class="menu-group"
                                    v-for="group in menu">
                                    <ul class="menu-list">
                                        <li
                                            :class="['menu-item', item.isActive ? 'is-active' : '']"
                                            v-for="item in group">
                                            <component
                                                v-bind:is="'menu-' + item.type"
                                                v-bind="item"
                                                :type="null"
                                                ></component>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </el-aside>
                    </menu-component>
                </transition>

                <el-container class="is-vertical">
                    <!-- $HEADER -->
                    <header-component @menu-open="openMenu" inline-template>
                        <el-header class="header">
                            <div class="header-cell header-cell-menu hidden-sm-and-up">
                                <el-button
                                    class="header-button color-gray"
                                    icon="icon-menu"
                                    @click="openMenu">
                                </el-button>
                            </div>

                            <div class="header-search--button header-cell hidden-sm-and-up">
                                <el-button
                                    class="header-button color-gray"
                                    icon="icon-search"
                                    @click="openSearchBar">
                                </el-button>
                            </div>

                            <div
                                :class="['header-cell', 'header-cell-search', 'header-search', {'is-hidden': !showSearchBar}]">
                                <header-search ref="search" :is-focus="showSearchBar"></header-search>
                                <el-button
                                    class="header-button color-gray hidden-sm-and-up"
                                    icon="el-icon-close"
                                    @click="hideSearchBar">
                                </el-button>
                            </div>

                            <div class="header-cell notifications">
                                <header-notifications></header-notifications>
                            </div>

                            <div class="header-cell header-deviding"></div>
                            <header-profile inline-template v-cloak>
                                <el-dropdown
                                    class="header-cell"
                                    :hide-on-click="false">
                                    <div class="header-cell header-cell-profile header-profile">
                                        <div class="header-cell hidden-md-and-down">
                                            <span class="header-profile--name">{{user.name}}</span>
                                        </div>
                                        <div class="header-cell">
                                            <avatar
                                                :name="user.name"
                                                :image="user.avatar">
                                            </avatar>
                                            <i class="header-profile--icon el-icon-arrow-down"></i>
                                        </div>
                                    </div>
                                    <el-dropdown-menu
                                        class="header-profile--dropdown"
                                        slot="dropdown" >
                                        <a href="/profile">
                                            <el-dropdown-item>
                                                <i class="dropdown-icon icon-user"></i>Мой профиль
                                            </el-dropdown-item>
                                        </a>
                                        <a href="/notifications">
                                            <el-dropdown-item>
                                                <i class="dropdown-icon icon-notifications"></i>Все уведомления
                                            </el-dropdown-item>
                                        </a>
                                        <a href="/logout">
                                            <el-dropdown-item divided>
                                                <i class="dropdown-icon icon-logout color-red"></i>Выход
                                            </el-dropdown-item>
                                        </a>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </header-profile>
                        </el-header>
                    </header-component>

                    <el-main v-cloak>
                        <!-- $MAIN -->MAIN
                        {{width}}
                    </el-main>
                </el-container>
            </el-container>
        </div>


        <!-- $MENU-NAV-COMPONENT -->
        <script type="text/javascript" src="./_components/menu/menu-link.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/menu/menu-button.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/menu/menu-collapse.js?v=1.0"></script>

        <link rel="stylesheet" href="./_components/menu/menu.css?v=1.0">
        <script type="text/javascript" src="./_components/menu/menu.js?v=1.0"></script>



        <!-- $AVATAR-COMPONENT -->
        <link rel="stylesheet" href="./_components/avatar/avatar.css?v=1.0">
        <script type="text/javascript" src="./_components/avatar/avatar.js?v=1.0"></script>


        <!-- $HEADER-COMPONENT -->
        <script type="text/javascript" src="./_components/header/header-profile.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/header/header-search.js?v=1.0"></script>

        <script type="text/javascript" src="./_components/header/notification-training.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/header/notification-answer.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/header/notification-missed.js?v=1.0"></script>
        <script type="text/javascript" src="./_components/header/header-notifications.js?v=1.0"></script>

        <script type="text/javascript" src="./_components/header/header.js?v=1.0"></script>
        <link rel="stylesheet" href="./_components/header/header.css?v=1.0">



        <script type="text/javascript" src="./_js/script.js?v=1.0"></script>
    </body>
</html>
