html, body {
    height: 100%;
    min-height:100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #F3F5F9;
}

:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

button, input, optgroup, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

/**************************************************
                    $TEMPLATE
**************************************************/

[v-cloak] {
    display: none;
}

#app {
    height: 100%;
}

.page {
    min-height: 100%;
}

.el-notification {
    z-index: 3000 !important;
}

.el-icon-loading {
    color: #999999;
}

/**************************************************
                        $FORM
**************************************************/

.el-form-item__error {
    color: #E92C68;
}

/**************************************************
                    $LINKS
**************************************************/

.link-default {
    color: #77C7BA;
}

.link-default:hover,
.link-default:focus {
    text-decoration: underline;
    color: #92d2c8;
}

.link-default:active {
    color: #6bb3a7;
}

/**************************************************
                    $BUTTONS
**************************************************/

/**************************************************
                    $MESSAGES
**************************************************/

.el-message--error {
    background-color: #feeaf0;
    border-color: #F38AAB;
}

.el-message--error .el-message__content {
    color: #E92C68;
}


/**************************************************
                    $DROPDOWN
**************************************************/

.dropdown-icon {
    margin-right: 16px;
    font-size: 14px;
    color: #B5BCCB;
    vertical-align: middle;
}

.el-dropdown-menu__item {
    font-size: 12px;
    font-weight: 500;
    color: #64657B;
}

/**************************************************
                    $COLOR
**************************************************/

.color-green {
    color: #77C7BA;
}

.color-black {
    color: #64657B;
}

.color-gray {
    color: #9697AD;
}

.color-silver {
    color: #B5BCCB;
}

.color-silverlight {
    color: #CBD0DB;
}

.color-red {
    color: #E92C68;
}

.el-button.color-gray {
    color: #9697AD;
}
