@font-face {
  font-family: 'kipr_icons_font';
  src:  url('./../_fonts/kipr_icons_font.eot?gk369v');
  src:  url('./../_fonts/kipr_icons_font.eot?gk369v#iefix') format('embedded-opentype'),
    url('./../_fonts/kipr_icons_font.ttf?gk369v') format('truetype'),
    url('./../_fonts/kipr_icons_font.woff?gk369v') format('woff'),
    url('./../_fonts/kipr_icons_font.svg?gk369v#kipr_icons_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kipr_icons_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e9000";
}
.icon-user-outline:before {
  content: "\e9001";
}
.icon-discussion:before {
  content: "\e9002";
}
.icon-discussion-outline:before {
  content: "\e9003";
}
.icon-feed:before {
  content: "\e9004";
}
.icon-feed-outline:before {
  content: "\e9005";
}
.icon-materials:before {
  content: "\e9006";
}
.icon-materials-outline:before {
  content: "\e9007";
}
.icon-news:before {
  content: "\e9008";
}
.icon-news-outline:before {
  content: "\e9009";
}
.icon-product:before {
  content: "\e900a";
}
.icon-product-outline:before {
  content: "\e900b";
}
.icon-records:before {
  content: "\e900c";
}
.icon-records-outline:before {
  content: "\e900d";
}
.icon-reports:before {
  content: "\e900e";
}
.icon-reports-outline:before {
  content: "\e900f";
}
.icon-test:before {
  content: "\e9010";
}
.icon-test-outline:before {
  content: "\e9011";
}
.icon-users:before {
  content: "\e9012";
}
.icon-users-outline:before {
  content: "\e9013";
}
.icon-password:before {
  content: "\e9014";
}
.icon-show:before {
  content: "\e9015";
}
.icon-like:before {
  content: "\e9016";
}
.icon-like-outline:before {
  content: "\e9017";
}
.icon-next:before {
  content: "\e9018";
}
.icon-pdf:before {
  content: "\e9019";
}
.icon-play:before {
  content: "\e901a";
}
.icon-search-solid:before {
  content: "\e901b";
}
.icon-send:before {
  content: "\e901c";
}
.icon-show-outline:before {
  content: "\e901d";
}
.icon-warning:before {
  content: "\e901e";
}
.icon-logout:before {
  content: "\e901f";
}
.icon-menu:before {
  content: "\e9020";
}
.icon-message:before {
  content: "\e9021";
}
.icon-notification:before {
  content: "\e9022";
}
.icon-notifications:before {
  content: "\e9023";
}
.icon-search:before {
  content: "\e9024";
}
.icon-add-round:before {
  content: "\e9025";
}
.icon-arrow-down:before {
  content: "\e9026";
}
.icon-arrow-left:before {
  content: "\e9027";
}
.icon-arrow-right:before {
  content: "\e9028";
}
.icon-arrow-up:before {
  content: "\e9029";
}
.icon-clock:before {
  content: "\e902a";
}
.icon-clock-min:before {
  content: "\e902b";
}
.icon-comment:before {
  content: "\e902c";
}
.icon-complete:before {
  content: "\e902d";
}
.icon-doc:before {
  content: "\e902e";
}
.icon-edit:before {
  content: "\e902f";
}
.icon-error:before {
  content: "\e9030";
}
