/* montserrat-regular - latin-ext_cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* montserrat-500 - latin-ext_cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* montserrat-600 - latin-ext_cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-600.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* montserrat-700 - latin-ext_cyrillic_latin_cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
       url('./_fonts/montserrat/montserrat-v12-latin-ext_cyrillic_latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
}
