.header {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-height: 58px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 #E2E2EB;
}

@media (min-width: 768px) {
    .header {
        max-height: none;
        min-height: 70px;
        padding: 14px 20px;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 14px 40px;
    }
}

.header-cell {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header-cell:first-of-type {
    margin-left: -10px;
}

.header-cell:last-of-type {
    margin-right: -10px;
}

.header-deviding::after {
    content: '';
    display: block;
        align-self: center;
    height: 14px;
    width: 1px;
    background-color: #B6B6C6;
}




/**************************************************
                    $MENU-OPEN
**************************************************/

.header-cell-menu {
    width: 100%;
}

.menu-open {
    display: none;
}

/**************************************************
                    $HEADER-BUTTON
**************************************************/

.header-button {
    height: 100%;
    width: 42px;
    min-height: 42px;
    padding: 0;
    border: 0;
    font-size: 20px;
    opacity: 0.5;
    background-color: transparent;
}

.header-button:focus, .header-button:hover {
    background-color: transparent;
    opacity: 1;
}

.header-button:active {
    background-color: rgba(203, 208, 219, 0.3);
}

/**************************************************
                    $HEADER-SEARCH
**************************************************/

.header-search--button {
    margin-right: -12px;
}

.header-search {
    flex-grow: 1;
}

@media (max-width: 767px) {
    .header-search {
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 100;
    }

    .header-search.is-hidden {
        display: none;
    }
}

@media (min-width: 768px) {
    .header-search .el-autocomplete {
        width: 100%;
    }
}

.header-search .el-autocomplete {
    flex-grow: 1;
}

.header-search .el-input__inner {
    padding-left: 34px;
    border: 0;
    font-weight: 500;
}

.header-search .header-search--icon {
    position: absolute;
    top: 50%;
    font-size: 20px;
    color: #B5BCCB;
    transform: translateY(-50%);
}

.header-search--popper li {
    padding: 10px 20px;
}

.header-search--type {
    float: left;
    height: 100%;
    width: 16px;
    margin-right: 16px;
    font-size: 16px;
}

.header-search--item {
    font-size: 12px;
    line-height: normal;
}

.header-search--title {
    margin-bottom: 4px;
}

.header-search--description,
.header-search--title {
    overflow: hidden;
    text-overflow: ellipsis;
}



/**************************************************
                    $HEADER-BADGE
**************************************************/

.header-badge .el-badge__content {
    top: 7px;
    right: 7px;
    height: 7px;
    width: 7px;
    background-color: #ea2c67;
    transform: none;
}

.header-badge.is-hidden .el-badge__content {
    display: none;
}

/**************************************************
                    $HEADER-PROFILE
**************************************************/

.header-profile {
    cursor: pointer;
}

.header-profile--name {
    overflow: hidden;
    max-width: 220px;
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    color: #64657B;
}

.header-profile--icon {
    color: #64657B;
    margin-left: 8px;
}

.header-profile--dropdown .popper__arrow {
    left: auto !important;
    right: 8px;
}

/**************************************************
                $HEADER-NOTIFICATIONS
**************************************************/

.notifications-popper {
    padding: 0;
}

.notifications-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #F8F9FB;
}

.notifications-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0 20px;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    background-color: #F8F9FB;
    box-shadow: 0 1px 0 0 #E4E7ED;
}

.notifications-title {
    font-size: 12px;
}

.notifications-title-solid {
    font-weight: 600;
}

.notifications-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0 20px;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0 -1px 0 0 #ECECEF;
}

.notifications-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 20px;
}

.notifications-list {
    max-height: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;
}

.notification {
    display: flex;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: left;
}

.notification:first-of-type {
    margin-top: 10px;
}
.notification:last-of-type {
    margin-bottom: 10px;
}

.notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 30px;
    min-width: 30px;
    margin-right: 15px;
    border-radius: 15px;
    font-size: 16px;
}

.notification-icon-training {
    background-color: #9697AD;
    color: #FFFFFF;
}

.notification-icon-missed {
    background-color: #E92C68;
    color: #FFFFFF;
}

.notification-title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
}

.notification-text {
    font-size: 12px;
}

.notifications-footer--link {
    font-size: 12px;
    font-weight: 600;
}

.notifications-footer--link:hover {
    color: #77C7BA;
}

@media (max-width: 350px) {
    .notifications-popper {
        width: 100% !important;
        left: 0 !important;
    }
}
