body {
    background-color: #35245A;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 100%;
    max-width: 460px;
    padding: 80px 20px 160px 20px;
    box-sizing: border-box;
}

.form-header {
    margin-bottom: 40px;
}

.form-title {
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

.form-item:nth-of-type(1n + 2) {
    margin-bottom: 30px;
}

.form-footer {
    margin-top: 40px;
}

.el-form-item__content {
    line-height: 50px;
}

/**************************************************
                    $INPUT
**************************************************/

.el-input__inner {
    height: 50px;
    color: #FFFFFF;
    background-color: #2B1A46;
    border-color: #23123E;
}

.el-input__inner::-webkit-input-placeholder {
  color: #7F7590;
}

.el-input__inner::-moz-placeholder {
  color: #7F7590;
}

.el-input__inner:-ms-input-placeholder {
  color: #7F7590;
}

.el-input__inner:-moz-placeholder {
  color: #7F7590;
}

.el-input__inner:hover {
    border-color: #23123E;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: #FFFFFF;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus {
    border-color: #77C7BA;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus {
    border-color: #E92C68;
}

.el-input--prefix .el-input__inner {
    padding-left: 44px;
}

.el-input__prefix {
    left: 15px;
}

.el-input--suffix .el-input__inner {
    padding-right: 44px;
}

.el-input__suffix {
    right: 15px;
}

.el-input__icon {
    color: #FFFFFF;
    line-height: 50px;
}

.icon-show {
    cursor: pointer;
}

.icon-show.is-disabled {
    opacity: 0.5;
}

/**************************************************
                    $BUTTON
**************************************************/

.form-button {
    height: 50px;
    width: 100%;
    font-weight: 500;
    color: #FFFFFF;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
    border-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.1);
}
