.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #77C7BA;
    background-size: cover;
    background-repeat: no-repeat;
}
