.menu {
    min-width: 320px;
    background-color: #301D4F;
}

@media (max-width: 767px) {
    .menu {
        position: fixed;
        height: 100%;
        min-width: 100%;
        z-index: 200;
    }
}

@media (min-width: 768px) {
    .menu {
        display: block !important;
    }
}

/**************************************************
                    $MENU-HEADER
**************************************************/

.menu-header {
    padding: 0 8px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 58px;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
}

.menu-close {
    width: 42px;
    min-height: 42px;
    margin-right: 8px;
    padding: 0;
    border: 0;
    font-size: 20px;
    color: #FFFFFF;
    vertical-align: middle;
    opacity: 0.5;
    background-color: transparent;
}

.menu-close:hover,
.menu-close:focus {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

@media (min-width: 768px) {
    .menu-header {
        padding: 0 40px;
    }

    .menu-title {
        font-size: 28px;
        line-height: 70px;
    }

    .menu-close {
        display: none;
    }
}

/**************************************************
                    $MENU-GROUP
**************************************************/

.menu-group {
    padding: 8px 0;
    box-sizing: border-box;
}

.menu-group:nth-last-of-type(1n + 2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link {
    display: block;
    text-decoration: none;
}

.menu-button {
    width: 100%;
    text-align: left;
}

.menu-button.is-disabled {
    opacity: 0.5;
}

.menu-button--area {
    display: block;
    padding: 20px;
    box-sizing: border-box;
}


/**************************************************
                    $MENU-ITEM
**************************************************/

.menu-item--title,
.menu-item--subitem {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .menu-item--title,
    .menu-item--subitem {
        padding: 20px 40px;
    }
}

.menu-item--title:not(.is-disabled),
.menu-item--subitem:not(.is-disabled) {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-out 0s;
    transition: background-color 0.3s ease-out 0s;
}

.menu-item--title.is-disabled,
.menu-item--subitem.is-disabled {
    color: rgba(255, 255, 255, 0.25);
    cursor: not-allowed;
}

.menu-item--subitem.is-active,
.menu-item.is-active .menu-item--title {
    color: #FFFFFF;
}

.menu-item--subitem {
    padding-left: 80px;
}

@media (hover: hover) {
    .menu-item--subitem:not(.is-disabled):hover,
    .menu-item--title:not(.is-disabled):hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.menu-item--icon {
    font-size: 20px;
}

.menu-item--text {
    flex-grow: 1;
    max-width: 100%;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-button .menu-item--icon,
.menu-button .menu-item--text {
    vertical-align: middle;
}

/**************************************************
                $MENU-ITEM--BADGE
**************************************************/

.menu-item--badge.is-dot {
    height: 20px;
}

.menu-item--text + .menu-item--badge {
    margin-left: 8px;
}

.menu-item--badge .el-badge__content {
    border: 0;
    background-color: #E92C68;
}

.menu-item--badge .el-badge__content:not(.is-dot) {
    top: 0;
    padding: 1px 7px;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
}

/**************************************************
                    $MENU-COLLAPSE
**************************************************/

.menu-collapse--title {
    cursor: pointer;
}

.menu-collapse--title.is-active {
    color: #FFFFFF;
}

.menu-collapse--title .el-icon-arrow-left {
    color: #FFFFFF;
    transform: rotate(0deg);
    -webkit-transition: transform 0.3s ease-out 0s;
    transition: transform 0.3s ease-out 0s;
}

.menu-collapse--title.is-open .el-icon-arrow-left {
    transform: rotate(-90deg);
}
